.header {
  background-color: var(--surface-1);
  display: grid;
  padding-inline: var(--size-8);
  height: 3.75rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: var(--layer-1);
}

.logoLink {
  width: 9.375rem;
}

.nav {
  margin-inline-start: auto;

  & ul {
    list-style-type: none;
  }

  & .navLink {
    color: var(--text-1);

    &:hover,
    &:focus-visible {
      color: var(--text-2);
      text-decoration: underline;
    }
  }
}

@media (--lg-n-below) {
  .header {
    padding-inline: var(--size-4);
  }
}
