.page {
  display: grid;
  align-items: start;
  grid-template-columns: 2fr minmax(var(--size-content-1), 1fr);
  gap: var(--size-4);
  width: 100%;
}

@media (--md-n-below) {
	.page {
    grid-template-columns: minmax(0, 1fr);
  }
}
