.main {
  padding-block-start: var(--size-fluid-2);
  overflow-x: hidden;
  display: grid;
  justify-items: flex-start;
  grid-template-columns: var(--size-8) calc(100% - 2 * var(--size-8)) var(--size-8);
}

.main > * {
  grid-column: 2;
}
