.contentWrapper {
  padding-block-start: var(--size-fluid-2);
  display: grid;
  justify-items: flex-start;
  grid-template-columns: var(--size-8) calc(100% - 2 * var(--size-8)) var(--size-8);

  & > * {
    grid-column: 2;
  }
}

@media (--lg-n-below) {
  .contentWrapper {
    grid-template-columns: var(--size-4) calc(100% - 2 * var(--size-4)) var(--size-4);
  }
}
