.filter {
  background-color: var(--surface-2);
  border-radius: var(--radius-2);
  border: 1px solid var(--gray-3);
  padding: var(--size-4);
  position: sticky;
  /* Hardcoded to match the header height + spacings */
  /* Ideally, this should be a CSS variable */
  inset-block-start: 5.25rem;
}

.title {
  font-size: var(--font-size-4);
  margin-block-end: var(--size-3);
}

@media (--md-n-below) {
  .filter {
    inset-block-end: 0rem;
  }
}
